[Unit]
Description=Run Besu

[Service]
Type=simple
EnvironmentFile=-/etc/default/besu
ExecStart=/usr/local/sbin/start_besu
Restart=on-failure
User=x2go
Group=users
LimitNICE=+10

[Install]
WantedBy=multi-user.target
Alias=besu.service
